# App
APP_ENV=local

# OpenAI
OPENAI_API_KEY=
LLM_MODEL_NAME=gpt-4o-mini

# LangSmith tracing
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=ai-character-dev

# VoxCPM / TTS
VOXCPM_TTS_URL=
